@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');


.tabbar{
position: relative;
margin: 0%;
left: 65%;
width: 100%;
padding: 20% , 100%;
justify-content: space-between;
align-items: center;
margin-left: 50;
font-size: 1.1em;
color: black;
font-weight: 500;
z-index: 100;
margin-left: 40px;
position: fixed;
}

.logo{
    position: fixed;
    user-select: none;
   
}

.cofee{
    left: 50px;
    margin-top: 90px;
    text-decoration: none;
    width: 500px;
    height: 35px;
    background: none;
    border: none;
    font-size: 25px;
    font-family: "Athiti", sans-serif;
  
}
.num{
    width: 500px;
    height: 35px;
    margin-top: 35px;
background: none;
border: none;
font-size: 25px;
font-family: "Athiti", sans-serif;
}
.su{
    text-align: center;
    margin-top: 40px;
    width: 500px;
    height: 35px;
    background: none;
    border: none;
    font-size: 25px;
    font-family: "Athiti", sans-serif;
    
}
.pon{
    text-align: center;
    margin-top: 40px;
    width: 500px;
    height: 35px;
    background: none;
    border: none;
    font-size: 25px;
    font-family: "Athiti", sans-serif;
    
}
.cha{
    margin-top: 40px;
   text-align: center;
   width: 500px;
   height: 35px;
   background: none;
   border: none;
font-size: 25px;
font-family: "Athiti", sans-serif;

}


.product{
    text-align: center;
    margin-top: 10px;
    
}

body{
    background-color: rgb(245, 190, 62);
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.tabbar .link{
    text-decoration: none;
    margin: 0 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    

}

.link:hover, .active{
border-bottom: 3px solid rgb(0, 255, 0);
}


.cofee:hover, .active{
    background-color: rgba(2, 101, 12, 0.997);
    color: aliceblue;
    box-shadow: 0 0 20px orange;
    
}

.num:hover, .active{
    background-color:rgba(2, 101, 12, 0.997) ;
    color: aliceblue;
    box-shadow: 0 0 20px orange;
}

.su:hover, .active{
    background-color:rgba(2, 101, 12, 0.997);
    color: aliceblue;
    box-shadow: 0 0 20px orange;
}


.cha:hover, .active{
    background-color: rgba(2, 101, 12, 0.997);
    color: aliceblue;
    box-shadow: 0 0 20px orange;
}

.pon:hover, .active{
    background-color:rgba(2, 101, 12, 0.997);
    color: aliceblue;
    box-shadow: 0 0 20px orange;
}



.name{
    color: aliceblue;
    width: 30px;
    margin-left: 20px;
    margin-top: 40px;
    position: fixed;
}