
body{
    background-color: bisque;
}



.icon4{
    margin-top: -100px;
    position: fixed;
    margin-left: 50px;
   margin-top: -70px;
    
}




.btn1{
    width: 100px;
    margin-top: 400px;
    position: fixed;
    margin-left: 110px;
    
    }
    
    
    
    
    
    
    .btn2{
        width: 100px;
    margin-top: 400px;
    position: fixed;
    margin-left: 240px;
    
    }
    
    
    
    
    
    
    
    
    .btn2:hover{
        background: url(img/products_icon_cool_hover.png) no-repeat;
        background-size: cover;
        
        
    }
    