body{
    background-color: bisque;

}




.icon12{
    margin-top: -100px;
    position: fixed;
    margin-left: 50px;
   margin-top: -70px;
    
}




.btn1{
    width: 100px;
    margin-top: 400px;
    position: fixed;
    margin-left: 40px;
    
    }
    
    
    
    
    
    
    .btn2{
        width: 100px;
    margin-top: 400px;
    position: fixed;
    margin-left: 170px;
    
    }
    
    
    
    
    
    .btn3{
        width: 100px;
        margin-top: 400px;
        margin-left: 300px;
        position: fixed;
    }
    
    
    
    .btn1:hover{
        background: url(img/products_icon_hot_hover.png) no-repeat;
        background-size: cover;
        
        
    }
    
    
    
    .btn3:hover{
        background: url(img/products_icon_smooty_hover.png);
        background-size: cover;
    
    }